<section class="delete">
    <h3>Login (form binding)</h3>
    <form (ngSubmit)="login()" #loginForm="ngForm">
        <div class="input">
            <label for="email">Email</label>
            <input type="text" id="email" ngControl="email" required #email="ngForm" [(ngModel)]="user.email">
            <span *ngIf="email.control?.dirty && email.control?.hasError('required')">
                Email is required
            </span>
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input type="password" id="password" ngControl="password" required minlength="3" #password="ngForm" [(ngModel)]="user.password">
            <span *ngIf="password.control?.dirty && password.control?.hasError('required')">
                Password is required
            </span>
            <span *ngIf="password.control?.dirty && password.control?.hasError('minlength')">
                Password too short
            </span>
        </div>
        <button type="submit" [disabled]="!loginForm.valid">Submit</button>
    </form>
</section>
